body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.main {
  padding-top: 10px;
}

.well {
    margin-bottom: 0px;
}
